.home-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fars-logo-container {
    display: flex;
    justify-content: center;
}

.fars-center-logo {
    width: 10vw;
    height: 29vh;
}