@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  background-color: $background-color;
  min-width: 1280px; // As per requirements
}

div.navbar {
  height: 10vh;
  font-weight: bold;
}

div.navbar * {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #00b84f;
  width: 100vw;
  height: 10vh;
}