@import "../../styles/variables";

.translation-button {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border-radius: 15px;
    width: 64px;
    height: 64px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    // background-color: $white;
    // color: $black;
}