@import '../../styles/variables';

.toast {
    position: fixed; 
    top: 1%; 
    right: 1%;
    z-index: 9999;
    min-width: 300px;
}

.toast-success {
  background-color: #198754;
  color: white;
  
  .toast-header {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.toast-failed {
  background-color: #dc3545;
  color: white;
  
  .toast-header {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.toast-info {
  background-color: #0dcaf0;
  color: white;
  
  .toast-header {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.toast-header {
    color:$danger;
    display: flex;
    justify-content: space-between;

    button {
        border-radius: 15px;
        background-color: $white;
        color: $black;
        
        span {
            padding: 0 5px 0 5px;
            font-weight: bold;
        }
    }
}

.toast-body {
    color:$white;
    font-weight: 500;
}