@import '../../styles/variables';

.toast {
    position: fixed; 
    top: 1%; 
    right: 1%;
    z-index: 9999;
    min-width: 300px;
}

.toast-header {
    color:$danger;
    display: flex;
    justify-content: space-between;

    button {
        border-radius: 15px;
        background-color: $danger;
        color: $white;
        
        span {
            padding: 0 5px 0 5px;
            font-weight: bold;
        }
    }
}

.toast-body {
    color:$black;
    font-weight: 500;
}