@import '../../styles/variables';


// Variables for easy color management


.custom-navbar {
  background-color: white;
  height: $nav-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); // Optional shadow
  font-weight: bold;
  position: sticky;  
  top: 0;            // Sticks to the very top edge
  z-index: 1020;
  width: 100%;

  // 1. Control the Container Padding
  .navbar-inner-container {
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
  }

  // 2. Logo Styling
  .fars-logo {
    height: 50px;
    width: auto;
  }

  .navbar-collapse {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .nav-main-links {
    margin-right: auto; 
    
    display: flex;
    gap: 20px; 
    align-items: center;
    flex-shrink: 0;

    .nav-link {
      color: #333;
      font-size: 16px;
      white-space: nowrap;
      
      &:hover {
        color: $fars-green;
      }
    }
  }

  // 4. Right Side Profile / Auth
  .nav-auth-profile {
    display: flex;
    align-items: center;
     margin-left: auto; // Push to the right
    flex-shrink: 0;

    // Styling the Email Dropdown
    #user-dropdown {
      color: #333;
    }

    // Styling the Login/Register buttons if user is logged out
    .auth-buttons {
      display: flex;
      gap: 15px;

      a {
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 500;
      }

      .btn-register {
        border: 1px solid $fars-green;
        color: $fars-green;
        &:hover { background-color: lighten($fars-green, 45%); }
      }

      .btn-login {
        background-color: $fars-green;
        color: white;
        &:hover { background-color: darken($fars-green, 10%); }
      }
    }
  }
}
